.background {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url("../assets//library.jpg");

  /* color:#eab308; */
  background-repeat: no-repeat;
  background-size: cover;

  background-attachment: fixed;
}

.stick {
  position: sticky;
  top: 0;
}

.test {
  /* color:#FFC400 ; */
  color: rgb(215, 214, 214);
}
